@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/* ------------------------------
              RESET
 ---------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------------
              Fonts-Colors
 ---------------------------------*/

.space-grotesk{
    font-family: "Space Grotesk", sans-serif;
}

.inter{
    font-family: "Inter", sans-serif;
}
 
.main-color{
    color: #103571;
}

.complementary-color{
    color: #F7C7A0
}

.text-color{
    color: #4A5568;
}

/* ------------------------------
            All
 ---------------------------------*/

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

body{
    background-color: #ffffff;
}




/* ------------------------------
              TEXTES
 ---------------------------------*/

.decoration-none {
    text-decoration: none;
}

.list-type-none{
    list-style-type: none;
}

.bold{
    font-weight: 800;
}

.text-center{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}
.list-thumbs-up{
    list-style-type: "\1F44D";
    padding: 20px;
    }

.white{
    color: white;
}
/* ------------------------------
            LARGEURS
 ---------------------------------*/

.w-100{
    width: 100%;
}


.w-50 {
    width: 50%;
}

.w-48{
    width: 48%;
}

.w-30 {
    width: 30%;
}

.w-25 {
    width: 25%;
}

.w-20{
    width: 20%;
}

.height-100{
    height: 100%;
}


/* ------------------------------
            FLEXBOX
 ---------------------------------*/

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-32{
    gap: 32px;
}

/* ------------------------------
         MARGIN & PADDING 
 ---------------------------------*/

 /* Margin */

.mt-16 {
    margin-top: 16px;
}

.mb-16{
    margin-bottom: 16px;
}

.mt-32{
    margin-top: 32px;
}

.mb-32{
    margin-bottom: 32px;
}

.mt-128{
    margin-top: 128px;
}

.mb-128{
    margin-bottom: 128px;
}

.ml-100{
    margin-left: 100px;
}
.text-center{
    text-align: center;
}
/* padding */


.pb-16{
    padding-bottom: 16px;
}

.pt-16{
    padding-top: 16px;
}

.pb-32{
    padding-bottom: 16px;
}

.pt-32{
    padding-top: 32px;
}

.pb-32{
    padding-bottom: 32px;
}

.pt-128{
    padding-top: 128px;
}

.pb-128{
    padding-bottom: 128px;
}

/* ------------------------------
            CONTAINER
 ---------------------------------*/
.container{
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}


/* ------------------------------
              Header
 ---------------------------------*/

.header{
    background-color: #103571;
    color: white;
    padding: 1px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 40px;
}

.contact{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;
    background-color: #F7C7A0;
    border-radius: 8px;
    width: 100px;
    font-size: 20px;
    margin-right: 20px;
}

/*------------------------------
              Hero Section
 ---------------------------------*/




.btn-bleu{
    padding: 10px 20px;
    background-color: #103571;
    color: white;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-blanc{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #103571;
    border: #103571 solid 2px;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


